html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: relative;
}

.fighters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
    padding: 0 15px;
}

.fighter {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.fighter:hover {
    box-shadow: 0 0 50px 10px rgba(0,0,0,0.06);
    cursor: pointer;
}

.name {
    align-self: center;
    font-size: 21px;
    margin-top: 20px;
}

.fighter-image {
    height: 260px;
}

#loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.7);
    visibility: hidden;
}

.dialog {
    display: flex;
    position: relative;
}

.dialog__details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}

.details__item {
    margin-bottom: 10px; 
}

.details__health-bar {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: 100;
}

.dialog__container {
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.dialog__content {
    margin: 50px auto; 
    padding: 100px;
    position: relative;
    max-width: 400px;
    background: #fff;
    text-align: center;
}

.dialog__close {
    color: white;
    position: absolute;
    right: -30px;
    top: -30px;
    font-size: 2rem;
    font-weight: bold;
}

.dialog__close:hover {
    color: #c4c4c4;
    text-decoration: none;
    cursor: pointer;
}

.battle__container {
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.fighter__container:nth-child(3) .fighter-image {
    transform: scaleX(-1)
}

.battle__container .dialog__content {
    display: flex;
    width: auto;
}

.add-button {
    padding: 10px;
}

.battle__close {
    color: white;
    position: absolute;
    right: -30px;
    top: -30px;
    font-size: 2rem;
    font-weight: bold;
}

.battle__close:hover {
    color: #c4c4c4;
    text-decoration: none;
    cursor: pointer;
}

.battle__content {
    display: flex;
    justify-content: center;
    margin: 100px auto; 
    padding: 100px;
    position: relative;
    max-width: 400px;
    background: #fff;
}

#popup {
    position: absolute;
    z-index: 101;
    top: 0;
    left: 0;
    right: 0;
    background: #fde073;
    text-align: center;
    line-height: 2.5;
    overflow: hidden; 
    box-shadow: 0 0 5px black;
    animation: slideDown 5s;
    transform: translateY(-50px);
    transform: translateY(-50px);
}

@keyframes slideDown {
    0%, 100% { transform: translateY(-50px); }
    10%, 90% { transform: translateY(0px); }
}